*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
sandhook/build/
sample/src/main/assets/unit-test-app.apk
sample/src/main/assets/preset_apps/
sample/src/main/assets/preset_app_versions.json
sample/src/main/assets/app_ver.json
vmos-lite-sdk/build
stub/build
